.containerDiv {
    background-image: url("../resources/backgroundimg.jpeg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
}

.center {
    margin-right:55vw;
    padding-top: 30vh;
    text-align: center;
}

.centerElement {
    margin-top:2vh;
}

.centerSubtitle {
    margin-top:3vh;
    padding-left:0.5vw;
    padding-right:0.5vw;
}

.buttons {
    display:inline-block;
    text-align: center;
}

.buttonStyle {
    float: left;
    margin-top: 3vh;
    background-color: transparent;
    border-color: #ffffff;
}

.circularButton {
    position: absolute;
    top:1vh;
    left:1vw;
    height:5vh;
    width:5vh;
    border-radius: 50%;
    background-color: transparent;
    border-color: #ffffff;
}

.readMore {
    margin-top: 2vh;
}

.readMore a {
    color: #ffffff;
    text-decoration: underline;
}

/*
Begin PriceData CSS
*/

.backButton {
    margin-top: -1vh;
    margin-right: 38vw;
    background-color: transparent;
    border-color: #ffffff;
}

.uploadContainer {
   background-color: rgba(0,0,0,0.35);
   border-radius: 10px;
   margin-left: 10vw;
   margin-right: 10vw;
   margin-bottom: 3vh;
   padding-top: 3vh;
   padding-bottom: 3vh;
}

.uploadContainer:hover {
    transform: scale(1.025);
}

.buttonHold {
    margin-bottom: 3vh;
    margin-top: 1vh;
    display: inline-block;
}

.toggled.active {
    background-color: #007bff !important;
    border: none !important;
}

.toggled {
    background-color: hsl(211, 100%, 28%) !important;
    border: none !important;
    box-shadow: none !important;
}

.sliderHold {
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
}

.sliderHold .sliderCustom {
    color: #007bff;
    width: 15vw;
}

.submitButton {
    margin-top: 1.5vh;
    background-color: transparent;
    border-color: #ffffff;
    box-shadow: none !important;
}

.backButton:hover {
    transform: scale(1.025);
}

.buttonStyle:hover {
    transform: scale(1.025); 
}

.circularButton:hover {
    transform: scale(1.025); 
}

.submitButton:hover {
    transform: scale(1.025);
}

.loadingSign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.logoHold {
    display: inline-block;
}

.shareLogo {
    height: 9vh;
    width: 9vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

.shareLogo:hover {
    transform: scale(1.04);
}

.vertCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}